
build/
out/
bin/
obj/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install/
compile_commands.json
CTestTestfile.cmake

*.exe
*.dll
*.lib
*.pdb
*.o
*.a
*.so
*.dylib

.vscode/
*.code-workspace

vcpkg_installed/
.vcpkg-root

# lbfmodel.yaml is ~54MB, which fits under GitHub's 100MB limit, so it's usually fine to upload!)
# lbfmodel.yaml
# haarcascade_frontalface_default.xml
